header{
background-image: url(https://vean-tattoo.com/static/images/header-lg.webp);
 background-size:100% 100%;
 height:1000px
}

body {
    font-family: sans-serif;
    background-color: black;
}
nav {
	
    justify-content:flex-ende;
    display: flex;
	 padding: 25px 100px 25px 95px;
}
a{
	float:left;
	color:white;
	font-size:16px;
	text-decoration:none;
	 padding: 25px 100px 25px 95px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
}
h2{
    text-align: center;
}

p {
    font-size: 24px;
	color:white;
}
.brand{
	font-size:32px;
	float:left;
}
.text{
	font-size:20px;
	float:left;
}

.infa1{
    font-size:48px;
	color:white;
}
.infa2{
    font-size:32px;
	color:white;
}

section{
	display:flex;
}
article{
        text-align:left;
}

aside{
        text-align:right;
}

.town{
	text-align:center;
}
.video{
	text-align:center;
}
img{
        height: 250px;
	width: 345px;
}

footer {
    background-color: white;
    padding: ;
    display: flex;
   
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
    color:black; 	
}
